html
	head
		style
			include css/progressBar.css

	block content
	center
		h1 JAC Vote
		img(src= "http://i.schoolido.lu/chibi/Mochaqt.png")

	div.progressWrapper
		-choices.forEach(function(choice){
			center 
				h2(style=" color: blue;") #{choice.title}
				h4 #{choice.votes}
			div.progressBar
				span(id= choice.animeID).progressBarFill
		-});
	br
	br
	center
		a(href="/new.html") Add New Anime Choice
		br
		a(href="/reset") Reset Votes

	script(src="/socket.io/socket.io.js")
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
	script(src="/javascripts/highcharts.js")
	script.
		var socket = io.connect();

	script var data = !{JSON.stringify(choices)}
	script.
		var Interval = window.setInterval(updateVotes, 1000);
		function updateVotes(){
			data.forEach(function(anime){
				var bar = document.getElementById(anime.animeID);
				bar.style = "width: " + anime.votes + "%;";
			});
		}
//	script.
//		var progress = 0;
//		var bar = document.getElementById("LWA");
//		var Interval = window.setInterval(startWatch, 500);
//		function startWatch(){
//			if(progress < 100){
//			progress += 2;}
//			bar.style = "width: " + progress + "%;";
//			console.log("desu");
//		}