html
	head
		style
			include css/progressBar.css

	block content
	center
		span
		h1 Text your votes to (812) 420-1234!
		img(src= "https://i.imgur.com/I90I6Xg.png" style="height:183px;")
		img(src= "https://i.imgur.com/Z7qV5LL.png" style="width:116px;height:183px;")

	div.progressWrapper
		-choices.forEach(function(choice){
			center 
				h2(style=" color: blue;") #{choice.title} ----- Text "#{choice.animeID}"
				//h4(id= "tally" + choice.animeID) #{choice.votes}
			div.progressBar
				span(id= choice.animeID).progressBarFill
		-});
	br
	br
	center
		a(href="/new.html") Add New Anime Choice
		br
		br
		a(href="/resetvotes") Reset Votes
		br
		br
		a(href="/reset") Reset Everything
		br
		br
		a(href="/testvote.html") Test Vote

	script var data = !{JSON.stringify(choices)}
	script var animeVotes = [];
	script.
		data.forEach(function(anime){
			var bar = document.getElementById(anime.animeID);
			bar.style = "width: " + (2* anime.votes) + "%;";
			animeVotes.push(anime.votes);
		});

	script(src="/socket.io/socket.io.js")
	script.
		var socket = io.connect('/');
		console.log("Connected to socket.");
		socket.on('vote', function(msg){
			console.log("Incoming vote!");
			console.log(msg.vote);
			animeVotes[msg.vote - 1]++;
			var bar = document.getElementById(msg.vote);
			bar.style = "width: " + (animeVotes[msg.vote - 1] * 2) + "%;"; 
			// This is pretty hacky but it works. :^)
		});		

	| <html>
	| <head>
	| </head>
	| <body>
	| <div align="center" id="img" style="position:absolute;">
	| <img src="https://rs151.pbsrc.com/albums/s130/Elmerpr13/Games/SpinLink.gif~c200" style="height:50px;"" onMouseDown="pauseResume();">
	| </div>
	| <SCRIPT LANGUAGE="JavaScript">
	| var step = 5;
	| var delay = 30;
	| var height = 0;
	| var Hoffset = 0;
	| var Woffset = 0;
	| var yon = 0;
	| var xon = 0;
	| var pause = true;
	| var interval;
	| var name = navigator.appName;
	| if(name == "Microsoft Internet Explorer") name = true;
	| else name = false;
	| var xPos = 20;
	| if(name) var yPos = document.body.clientHeight;
	| else var yPos = window.innerHeight;
	| function changePos() {
	| if(name) {
	| width = document.body.clientWidth;
	| height = document.body.clientHeight;
	| Hoffset = img.offsetHeight;
	| Woffset = img.offsetWidth;
	| img.style.left = xPos + document.body.scrollLeft;
	| img.style.top = yPos + document.body.scrollTop;
	| }
	| else {
	| height = window.innerHeight;
	| width = window.innerWidth;
	| Hoffset =33;
	| Woffset =30;
	| document.getElementById('img').style.top = yPos + window.pageYOffset;
	| document.getElementById('img').style.left = xPos + window.pageXOffset;
	| }
	| if (yon) {
	| yPos = yPos + step;
	| }
	| else {
	| yPos = yPos - step;
	| }
	| if (yPos < 0) {
	| yon = 1;
	| yPos = 0;
	| }
	| if (yPos >= (height - Hoffset)) {
	| yon = 0;
	| yPos = (height - Hoffset);
	| }
	| if (xon) {
	| xPos = xPos + step;
	| }
	| else {
	| xPos = xPos - step;
	| }
	| if (xPos < 0) {
	| xon = 1;
	| xPos = 0;
	| }
	| if (xPos >= (width - Woffset)) {
	| xon = 0;
	| xPos = (width - Woffset);
	|    }
	| }
	| function start() {
	| document.getElementById('img').style.visibility = "visible";
	| interval = setInterval('changePos()',delay);
	| }
	| function pauseResume() {
	| if(pause) {
	| clearInterval(interval);
	| pause = false;
	| }
	| else {
	| interval = setInterval('changePos()',delay);
	| pause = true;
	|    }
	| }
	| start();
	| //  End -->
	| </script>
	| 
	| </body>
	| </html>

	// Note that JQuery 1.6 has a += operator. 
	// $( '#new' ).css( 'top', '+=10px' );