html
	head
		style
			include css/progressBar.css

	block content
	center
		h1 JAC Vote
		img(src= "http://i.schoolido.lu/chibi/Mochaqt.png")

	div.progressWrapper
		-choices.forEach(function(choice){
			center 
				h2(style=" color: blue;") #{choice.title}
				//h4(id= "tally" + choice.animeID) #{choice.votes}
			div.progressBar
				span(id= choice.animeID).progressBarFill
		-});
	br
	br
	center
		a(href="/new.html") Add New Anime Choice
		br
		a(href="/reset") Reset Votes

	script var data = !{JSON.stringify(choices)}
	script var animeVotes = [];
	script.
		data.forEach(function(anime){
			var bar = document.getElementById(anime.animeID);
			bar.style = "width: " + anime.votes + "%;";
			animeVotes.push(anime.votes);
		});

	script(src="/socket.io/socket.io.js")
	script.
		var socket = io.connect('/');
		console.log("Connected to socket.");
		socket.on('vote', function(msg){
			console.log("Incoming vote!");
			console.log(msg.vote);
			animeVotes[msg.vote - 1]++;
			var bar = document.getElementById(msg.vote);
			bar.style = "width: " + animeVotes[msg.vote - 1] + "%;"; 

		});		

	// Note that JQuery 1.6 has a += operator. 
	// $( '#new' ).css( 'top', '+=10px' );

//-	script.
//-		var progress = 0;
//-		var bar = document.getElementById("LWA");
//-		var Interval = window.setInterval(startWatch, 500);
//-		function startWatch(){
//-			if(progress < 100){
//-			progress += 2;}
//-			bar.style = "width: " + progress + "%;";
//-			console.log("desu");
//-		}